body{ background-color:lightgray;
    text-align: center;
    margin-top: 50px;
}
#hmz98{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border: dashed lightgray 4px;
    border-radius: 50%;
}
#name5{
    font-size: 35px;
    font-family:fantasy;
}
#please{
    background-color: white;
    font-size: 25px;
}
div{
    border: solid 10px white;
    background-color: gray;
    width: 500px;
    height: 500px;
    margin: auto;
    
}
.moosh{
    display: inline-block;
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 15%;
    height: 50px;
    width: 50px;
    
}

